.offer-table{

    background:white;

    padding:30px;

    border-radius:18px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.offer-table h2{

    margin-bottom:25px;

}

table{

    width:100%;

    border-collapse:collapse;

}

thead{

    background:#f6f7fb;

}

th,
td{

    padding:16px;

    border-bottom:1px solid #eee;

}

.active{

    background:#dff8e4;

    color:#18893d;

    padding:6px 14px;

    border-radius:25px;

}

td button{

    background:#1a5d3c;

    color:white;

    border:none;

    padding:8px 14px;

    border-radius:8px;

    cursor:pointer;

    margin-right:8px;

}

.delete{

    background:#d62828;

}