.product-table{

    background:#ffffff;

    border-radius:22px;

    padding:28px;

    box-shadow:0 15px 35px rgba(0,0,0,.06);

    border:1px solid #ececec;

}

.table-toolbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

    gap:20px;

}

.table-search{

    width:340px;

    display:flex;

    align-items:center;

    gap:10px;

    background:#f6f7f9;

    border-radius:14px;

    padding:14px 18px;

}

.table-search input{

    flex:1;

    border:none;

    background:transparent;

    outline:none;

    font-size:15px;

}

.table-filters{

    display:flex;

    gap:15px;

}

.table-filters select{

    padding:12px 18px;

    border-radius:12px;

    border:1px solid #ddd;

    background:white;

}

table{

    width:100%;

    border-collapse:collapse;

}

thead tr{

    background:#f5f7fa;

}

th{

    padding:18px;

    text-align:left;

    color:#7b8794;

    font-size:14px;

    font-weight:700;

}

tbody tr{

    transition:.25s;

}

tbody tr:hover{

    background:#fafafa;

}

td{

    padding:20px 18px;

    border-top:1px solid #efefef;

}

.product-info{

    display:flex;

    align-items:center;

    gap:18px;

}

.product-image{

    width:58px;

    height:58px;

    border-radius:16px;

    background:#eef1f4;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

}

.product-info strong{

    display:block;

    color:var(--secondary);

}

.product-info span{

    color:#8c8c8c;

    font-size:13px;

}

.status{

    padding:7px 16px;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

}

.status.active{

    background:#dff8e4;

    color:#15803d;

}

.status.inactive{

    background:#ffe3e3;

    color:#dc2626;

}

.actions{

    display:flex;

    gap:10px;

}

.actions button{

    width:42px;

    height:42px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    transition:.25s;

}

.view{

    background:#0f766e;

}

.edit{

    background:#336769;

}

.delete{

    background:#d62828;

}

.actions button:hover{

    transform:translateY(-3px);

}